<html>
    <style>
        table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    </style>
    <body>
        <center>
        <h1>Data inserted successfully!!</h1>
        <table>
            <thead>
            <tr>
                <th>State</th>
                <th>Date</th>
                <th>Samples</th>
                <th>Deaths</th>
                <th>Positives</th>
                <th>Negatives</th>
                <th>Discharge</th>
            </tr>
        </thead>
        <tr>
            <%data.forEach(entry=>{%>
                <td><%=entry.State_Name%></td>
                <td><%=entry.Date_of_Record%></td>
                <td><%=entry.No_of_Samples%></td>
                <td><%=entry.No_of_Deaths%></td>
                <td><%=entry.No_of_Positive%></td>
                <td><%=entry.No_of_Negative%></td>
                <td><%=entry.No_of_Discharge%></td>
        </tr>
        <%})%>
        </table>
    </center>
    </body>

</html>